[Unit]
Description=Advanced key-value store
After=network.target
Documentation=http://redis.io/documentation, man:redis-sentinel(1)

[Service]
Type=forking
ExecStartPre=/bin/echo never > /sys/kernel/mm/transparent_hugepage/enabled
ExecStart=/usr/bin/redis-sentinel {{ redis_installdir }}/sentinel.conf --daemonize no
ExecStop=/usr/bin/redis-shutdown redis-sentinel
PIDFile={{ redis_pidfile }}
TimeoutStopSec=0
Restart=always

ExecStop=/bin/kill -s TERM $MAINPID

PrivateTmp=yes
PrivateDevices=yes
ProtectHome=yes
ReadOnlyDirectories=/
ReadWriteDirectories=-{{ redis_dir }}
ReadWriteDirectories=-{{ redis_logdir }}
ReadWriteDirectories=-/var/run
ReadWriteDirectories=-/tmp
CapabilityBoundingSet=~CAP_SYS_PTRACE

# redis-server writes its own config file when in cluster mode so we allow
# writing there (NB. ProtectSystem=true over ProtectSystem=full)
ProtectSystem=true
ReadWriteDirectories=-{{ redis_installdir }}

[Install]
WantedBy=multi-user.target